<h2>Reset your password</h2>

<p>Hello <%= @resource.first_name %>,</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p style="text-align: center; margin: 24px 0;">
  <% host = Rails.application.config.action_mailer.default_url_options[:host] %>
  <% port = Rails.application.config.action_mailer.default_url_options[:port] %>
  <% scheme = Rails.env.production? ? "https" : "http" %>
  <% port_str = port ? ":#{port}" : "" %>
  <a href="<%= "#{scheme}://#{host}#{port_str}/reset-password?reset_password_token=#{@token}" %>" class="btn">
    Change my password
  </a>
</p>

<p>If you didn't request this, please ignore this email.</p>

<p>Your password won't change until you access the link above and create a new one.</p>
